.main-cases {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;

	&__list {
		display: flex;
		flex-wrap: wrap;
		list-style: none;

		&-item {
			display: flex;
			flex-direction: column;
			padding: 1em;
			margin: 0.5em;
			background-color: #2c2f36;

			&-photo {
				max-width: 100%;
				max-height: 100%;
				// object-fit: cover;
			}

			&-button {
				font-size: 2rem;
				text-transform: uppercase;
				border: none;
				text-align: center;
				text-decoration: none;
				background-color: #00a941;
				color: white;
				transition: background-color 0.3s;
				cursor: pointer;

				&:hover {
					background-color: #008232;
				}
			}
		}
	}
}

.images {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 250px;
	width: 250px;
}
