.casebox {
	position: relative;
	height: 250px;
	width: 75vw;
	margin: 5em auto;
	border: 2px solid rgb(0, 179, 0);
	border-radius: 100px;
	overflow: hidden;

	&__caseimg {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);

		&-img {
			width: 350px;
		}
	}

	&-arrows {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		position: absolute;
		left: 50%;
		transform: translate(-50%);
		height: 100%;
		z-index: 1;

		&-arrow {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 50px;
			height: 50px;
			border: 2px solid rgb(0, 179, 0);
			border-radius: 50%;
			color: rgb(0, 179, 0);
			background-color: rgba(0, 0, 0, 0.6);
		}
	}
}

.case {
	display: flex;
	justify-content: center;
	position: absolute;
	width: 400%;
	left: 50%;

	&-item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 250px;

		&-img {
			width: 90%;
		}

		&-name {
			font-weight: bold;
			font-size: 2rem;
			padding-bottom: 0.5em;
			color: white;
		}
	}
}

// .winning-item {
// 	position: absolute;
// 	display: flex;
// 	flex-direction: column;
// 	background-color: black;
// 	z-index: 100;

// 	&-button {
// 		padding: 1em 0;
// 		font-size: 4rem;
// 		text-transform: uppercase;
// 		cursor: pointer;
// 		transition: 0.3s;

// 		&:hover {
// 			background-color: orange;
// 		}
// 	}
// }

.open-btn {
	display: flex;
	align-items: center;
	padding: 0.5em 2em;
	font-size: 2rem;
	font-weight: bold;
	text-transform: uppercase;
	border: none;
	border-radius: 15px;
	background-color: #00a941;
	color: white;
	cursor: pointer;
	transition: background-color 0.3s;

	&:hover {
		background-color: #008232;
	}

	&-icon {
		margin: 0 0.2em 0 0.5em;
		width: 35px;
		height: 35px;
	}

	&-box {
		display: flex;
		justify-content: center;
	}
}

.chances {
	display: flex;
	justify-content: center;
	padding: 2em 0 2em 0;
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	
	&__list {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		list-style: none;

		&-item {
			width: 20%;

			&--red {
				background: linear-gradient(
					180deg,
					rgba(0, 0, 0, 1) 50%,
					rgba(135, 0, 0, 1) 100%
				);
			}

			&--pink {
				background: linear-gradient(
					180deg,
					rgba(0, 0, 0, 1) 50%,
					rgba(255, 50, 240, 1) 100%
				);
			}

			&--purple {
				background: linear-gradient(
					180deg,
					rgba(0, 0, 0, 1) 50%,
					rgba(125, 50, 255, 1) 100%
				);
			}

			&--lightblue {
				background: linear-gradient(
					180deg,
					rgba(0, 0, 0, 1) 50%,
					rgba(160, 211, 255, 1) 100%
				);
			}

			&--blue {
				background: linear-gradient(
					180deg,
					rgba(0, 0, 0, 1) 50%,
					rgba(50, 113, 255, 1) 100%
				);
			}

			&--grey {
				background: linear-gradient(
					180deg,
					rgba(0, 0, 0, 1) 50%,
					rgba(78, 78, 78, 1) 100%
				);
			}

			&-img {
				width: 100%;
			}

			&-text {
				font-size: 2rem;
				text-align: center;
				color: white;
			}
		}
	}
}
// .drops {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	right: 0;
// 	bottom: 0;
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	flex-direction: column;

// 	&__list {
// 		display: flex;
// 		flex-wrap: wrap;
// 		list-style-type: none;
// 		z-index: 2000;

// 		&-item {
// 			padding: 0 0.5em;
// 			transition: transform .3s;

// 			&:hover {
// 				transform: scale(1.1);
// 			}

// 			&-img {
// 				width: 150px;
// 			}

// 			&-name {
// 				font-size: 2rem;
// 				text-align: center;
// 				color: white;
// 			}
// 		}
// 	}

// 	&__close {
// 		margin: 1em 0 0 0;
// 		padding: 0.2em 0.4em;
// 		font-size: 2rem;
// 		font-weight: bold;
// 		border: 1px solid black;
// 		border-radius: 10px;
// 		text-transform: uppercase;
// 		cursor: pointer;
// 		transition: all .3s;
// 		z-index: 2000;

// 	&:hover {
// 		transform: scale(1.2);
// 		background-color: orange;
// 	}
// 	}

// 	&__bg {
// 		position: absolute;
// 		top: 0;
// 		left: 0;
// 		right: 0;
// 		bottom: 0;
// 		background-color: rgba(0,0,0,0.8);
// 		z-index: 1000;
// 	}
// }

// .drops-btn {
// 	margin: 1em;
// 	padding: 0.2em 0.4em;
// 	font-size: 2rem;
// 	font-weight: bold;
// 	border: 1px solid black;
// 	border-radius: 10px;
// 	cursor: pointer;
// 	transition: all .3s;

// 	&:hover {
// 		transform: scale(1.2);
// 		background-color: orange;
// 	}
// }

// .upgrader {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	bottom: 0;
// 	right: 0;
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: center;
// 	align-items: center;
// 	color: white;
// 	z-index: 2000;

// 	&__text {
// 		display: flex;
// 		padding: 1em 0;

// 		p {
// 			padding: 0 1em;
// 		}
// 	}

// 	&__start {
// 		margin: 1em;
// 		padding: 0.5em 1em;
// 	}
// }
