$green-button: #00a941;
$green-button-hover: #008232;
$darker-green: rgb(0, 179, 0);
$white-text: white;
$nav-link-color: #ffffff80;
$darker-black: #1d2126;
$light-black: #31353d;
$lighter-black: #40454f;
$timer-line-bg: rgb(32, 30, 30);
$red: #de4c41;
$red-hover: #bf4138;
$black-button-roulette: #636363;
$black-button-roulette-hover: #23252b;
$main-item-color: #2c2f36;
$chat-color: #282e35;
$black-coinflip: #40454f;
$cases-price: rgba(0, 130, 50, .6);