@use "./colors" as *;

.main-crash {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 80vh;
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;

	&__coin {
		width: 20px;
		height: 20px;
	}

	&__lastdrops {
		display: flex;
		font-size: 1.6rem;
	}

	&__lastdropitem {
		padding: 0 0.25em;
	}

	&__multiplier {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 200px;
		height: 150px;
		padding: 1em;
		margin-bottom: 1em;
		font-size: 4rem;
		color: $white-text;
		background-color: rgb(24, 24, 24);
		box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
	}

	&__bet {
		padding: 1em;
		font-size: 2rem;
		border: none;
		border-radius: 10px;
		text-transform: uppercase;
		color: $white-text;
		background-color: $green-button;
		cursor: pointer;
		transition: all 0.3s;

		&:hover {
			background-color: $green-button-hover;
		}
	}

	&__countdown {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		color: $white-text;
		font-size: 3rem;
		width: 100%;

		&-timer {
			margin-bottom: 1em;
			font-weight: bold;
			color: green;
		}
	}
}
