.hidden {
	display: none;
}

.open-anim {
	animation: open 5s forwards;
}

.spin {
	transition: transform 5s cubic-bezier(0, 0, 0, 0.99);
}

.bg {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.6);
	z-index: -1;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

main {
	height: 80vh;
}
