@use "./colors" as *;

.casesbox {
	&-case {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		transition: .3s;

		&:hover {
			transform: scale(1.1);
		}

		&-name {
			font-size: 3rem;
			color: $white-text;
		}
	}
}