@use "./colors" as *;

.main-index {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;

	&__list {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		list-style: none;

		&-item {
			padding: 1em;
			margin: 0.5em;
			background-color: $main-item-color;

			&-link {
				font-size: 2rem;
				font-weight: bold;
				text-decoration: none;
				text-align: center;
				color: $white-text;

				&-img {
					width: 250px;
					transition: transform 0.3s;

					&:hover {
						transform: scale(0.9);
					}
				}
			}
		}
	}
}

.main {
	display: none;

	&__drops {
		position: fixed;
		right: 0;
		top: 85px;
		width: 250px;
		min-height: 100%;
		max-height: 100%;
		overflow: hidden;
		color: $white-text;
		background-color: $darker-black;
		z-index: 2;
	}

	&__top {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-bottom: 0.5em;
		font-weight: bold;
		border-bottom: 2px solid $green-button;

		&-text {
			position: relative;
			font-size: 2rem;
		}
	}

	&__dropsbox {
		display: flex;
		flex-direction: column;

		&-item {
			position: relative;
			display: flex;
			justify-content: space-around;
			align-items: center;
			height: 92.5px;

			&-img {
				width: 50%;
			}

			&-pricebox {
				display: none;
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: rgba(0, 0, 0, 0.6);

				&-img {
					width: 25px;
					height: 25px;
				}
			}

			&-name {
				font-size: 1.2rem;
			}

			&--red {
				border-left: 4px solid $red;
			}

			&--gold {
				border-left: 4px solid gold;
			}

			&--pink {
				border-left: 4px solid rgb(255, 112, 136);
			}

			&--purple {
				border-left: 4px solid rgb(125, 50, 255);
			}

			&--blue {
				border-left: 4px solid rgb(75, 147, 255);
			}
		}
	}
}

.main-chat {
	display: none;
	
	&__chatbox {
		position: fixed;
		left: 0;
		top: 85px;
		width: 250px;
		min-height: 92%;
		max-height: 92%;
		overflow: hidden;
		color: $white-text;
		background-color: $chat-color;
		z-index: 2;
	}

	&__inputbox {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: fixed;
		bottom: 0;
		width: 100%;
		height: 150px;
		border-top: 2px solid $green-button;
		background-color: $darker-black;
	}

	&__input {
		padding: 0.2em;
		width: 90%;
		font-size: 1.8rem;
		outline: none;
		color: black;
		border-radius: 5px;
		background-color: $white-text;
	}

	&__button {
		padding: 0.2em 0;
		margin: 0.2em 0;
		width: 90%;
		font-size: 2rem;
		text-transform: uppercase;
		border: none;
		border-radius: 5px;
		color: $white-text;
		background-color: $green-button;
		cursor: pointer;
		transition: all 0.3s;

		&:hover {
			background-color: $green-button-hover;
		}
	}

	&__messages {
		position: fixed;
		left: 0;
		right: 0;
		display: flex;
		flex-direction: column-reverse;
		height: 715px;
		overflow-x: hidden;
		overflow-y: scroll;
	}

	&__messages::-webkit-scrollbar-track {
		background-color: $darker-black;
	}
	
	&__messages::-webkit-scrollbar {
		width: 5px;
	}
	
	&__messages::-webkit-scrollbar-thumb {
		background-color: $green-button;
	}

	&__msg {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1em;

		&--second {
			background-color: $darker-black;
		}
	}

	&__avatar {
		margin-right: 1em;
		width: 40px;
		height: 40px;
		border-radius: 50%;
	}
}
