.main-index {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;

	&__list {
		display: flex;
		flex-wrap: wrap;
		list-style: none;

		&-item {
			padding: 1em;
			margin: 0.5em;
			background-color: #2c2f36;

			&-link {
				font-size: 2rem;
				font-weight: bold;
				text-decoration: line-through;
				text-align: center;
				color: white;

				&-img {
					width: 250px;
					transition: transform 0.3s;

					&:hover {
						transform: scale(0.9);
					}
				}
			}
		}
	}
}
