.nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #1d2126;
	text-transform: uppercase;
	color: white;
	font-weight: bold;

	&__list {
		display: flex;
		align-items: center;
		list-style: none;

		&-item {
			padding: 1em;

			&--hiddenonphone {
				display: none;
			}

			&-balance {
				display: flex;
				align-items: center;
				padding: 0.4em;
				border-radius: 4px;
				background-color: #1b1f23;

				&-icon {
					width: 40px;
					margin: 0 0.5em;
				}
			}

			&-link {
				position: relative;
				text-decoration: none;
				color: #ffffff80;
				transition: color 0.3s;

				&--color:hover {
					color: white;
				}

				&-text-green {
					color: rgb(0, 179, 0);
				}

				&--logo {
					display: flex;
					align-items: center;
				}

				&--underline {
					&::before {
						content: "";
						position: absolute;
						bottom: -5px;
						height: 2px;
						width: 0px;
						background-color: rgb(0, 179, 0);
						transition: width 0.3s;
					}

					&:hover::before {
						width: 100%;
					}
				}

				&-logo {
					margin: 0 0.5em;
					width: 50px;
				}

				&--deposit {
					padding: 1em;
					background-color: #00a941;
					border-radius: 10px;
					color: white;
					transition: all 0.3s;

					&:hover {
						background-color: #008232;
					}
				}
			}
		}
	}

	&__list-mobile {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100vh;
		list-style-type: none;
		background-color: #1d2126;
		z-index: 100000;
	}

	&__item-mobile {
		padding: 0.5em 0;
		font-size: 2.4rem;
	}

	&__link-mobile {
		text-decoration: none;
		color: white;
	}

	&__balance {
		display: flex;
		align-items: center;
		background-color: #1b1f23;

		&-img {
			width: 40px;
			height: 40px;
		}
	}
}
